.App {
  text-align: center;
  background-color: rgb(132, 18, 121);
  height: 500px;
  padding-top: 150px;
}

.container {
  background-color: white;
  width: 450px;
  margin: auto;
  padding: 35px;
}

.App h3 {
  margin: 0;
  padding-left: 0;
}
.watchCount {
  font-size: 50px;
}

.watchCount span {
  border: 1px solid rgb(132, 18, 121);
}

.styleBtn .btn {
  padding: 8px 30px;
  text-transform: uppercase;
}
.styleBtn .start {
  background-color: rgb(7, 248, 7);
  border: none;
  font-size: 15px;
  font-weight: bold;
}
.styleBtn .stop {
  background-color: red;
  color: white;
  border: none;
  margin: 0px 10px;
  font-size: 15px;
  font-weight: bold;
}
.styleBtn .reset {
  background-color: rgb(236, 13, 128);
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
}
